<div class="country-info__top">
    <img class="country-info__img" src={{flags.svg}} width="60" height="40">
    <span class="country-info__name">{{name.common}}</span>
    </div>
    <ul class="country-info__list">
    <li class="list__item"><b>Capital</b>: {{capital}}</li>
    <li class="list__item"><b>Population:</b> {{population}}</li>
    <li class="list__item"><b>Languages:</b> {{unpackObject languages}}</li>
    </ul>